In [5]:
7/4

1.75

In [2]:
2+4

6

In [3]:
5*3

15

In [4]:
10%3

1

In [5]:
a=10
b=20
c=a+b

In [6]:
c

30

In [7]:
7//2

3

In [8]:
type(a)

int

In [9]:
z=10.3

In [10]:
type(z)

float

In [12]:
a=b=c=290

In [13]:
a

290

In [14]:
b

290

In [15]:
a="Hello"

In [16]:
a

'Hello'

In [17]:
s='Hello'

In [18]:
s

'Hello'

In [19]:
type(a)

str

In [20]:
type(s)

str

In [21]:
z=100
z=10.3
z="Sumeet"
z

'Sumeet'

In [22]:
s="Hello World!"

In [23]:
s

'Hello World!'

In [24]:
number=12345

In [25]:
s[2]

'l'

In [26]:
s[9]

'l'

In [29]:
s[0:]

'Hello World!'

In [30]:
s[0:5]

'Hello'

In [31]:
s[-4]

'r'

In [32]:
s[:5]

'Hello'

In [33]:
s[6:12]

'World!'

In [34]:
s[6:]

'World!'

In [35]:
s[::]

'Hello World!'

In [36]:
s[::2]

'HloWrd'

In [38]:
s[0:11:3]

'HlWl'

In [39]:
s[::-1]

'!dlroW olleH'

In [40]:
len(s)

12

In [41]:
quote = "That's my book."

In [42]:
quote

"That's my book."

In [43]:
s[0]='p'

TypeError: 'str' object does not support item assignment

In [44]:
l = []

In [45]:
type(l)

list

In [46]:
l=[1,'Hello',10.5]

In [50]:
l[1:3]

['Hello', 10.5]

In [51]:
list2 = [23,l,'Sumeet']

In [52]:
len(l)

3

list2

In [53]:
list2

[23, [1, 'Hello', 10.5], 'Sumeet']

In [54]:
l = l+1
l

TypeError: can only concatenate list (not "int") to list

In [55]:
l = [1,2,3,4,5]

In [57]:
l = l+[7,8,9]

In [58]:
l

[1, 2, 3, 4, 5, 7, 8, 9]

In [59]:
l.append('abc')

In [60]:
l

[1, 2, 3, 4, 5, 7, 8, 9, 'abc']

In [61]:
l.append([1,2,3])

In [62]:
len(l)

10

In [63]:
l

[1, 2, 3, 4, 5, 7, 8, 9, 'abc', [1, 2, 3]]

In [65]:
l[9][2]

3

In [66]:
l = l+"xyz"

TypeError: can only concatenate list (not "str") to list

In [68]:
nl = [1,2,[4,5,[6,'Hello']]]

In [69]:
nl[2][2][1]

'Hello'

In [70]:
nl[::-1]

[[4, 5, [6, 'Hello']], 2, 1]

In [71]:
l=[1,2,3,4,5]
l

[1, 2, 3, 4, 5]

In [72]:
for i in l:
    print(i)

1
2
3
4
5

In [76]:
sum = 0
for i in l:
    sum += i
print(sum)

15

In [77]:
a = 10

In [78]:
if a<20:
    print("A is less than 20")

A is less than 20

In [79]:
s = input("Enter your location:")

Enter your location:Hinjewadi

In [80]:
s

'Hinjewadi'

In [83]:
location = input("Location : ")
if location=='Hinjewadi':
    print("You're are Office")
elif location=='Aundh':
    print("You're at Institute")
else:
    print("Don't know where you are")

Location : Baner
Don't know where you are

In [92]:
sum_odd = 0
for i in l:
    if i%2!=0:
        print(i)
        sum_odd = sum_odd + i
    else:
        print(i,' : Even')
print(sum_odd)

1
2  : Even
3
4  : Even
5
9

In [99]:
s = 'This is a string'

In [102]:
for i in s:
    print(i)

T
h
i
s

i
s

a

s
t
r
i
n
g

In [103]:
l = list(s)

In [104]:
l

['T',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 'a',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g']

In [105]:
len(l)

16

In [106]:
s = s.split()

In [107]:
s

['This', 'is', 'a', 'string']

In [108]:
for i in s:
    print(i)

This
is
a
string

In [109]:
s2 = 'This is a string'

In [118]:
word = ''
for i in s2:
    if i != ' ':
        word+=i
    else:
        print(word)
        word=''
print(word)

This
is
a
string

In [112]:
base = []
for i in range(1,101):
    base.append(i)

In [126]:
l2 = []
for i in range(1,51):
    if i%2 == 0:
        l2.append(i)

In [127]:
newl = [i for i in range(1,21)]

In [128]:
newl

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [136]:
newl2 = [i*i for i in range(1,100) if i%2!=0]
#newl2

In [137]:
t = (1,2,3,4,5)

In [138]:
t

(1, 2, 3, 4, 5)

In [139]:
for i in t:
    print(i)

1
2
3
4
5

In [146]:
for i in range(0,len(t)):
    print(t[i])

1
2
3
4
5

In [147]:
l = [(1,2),(3,4),(5,6)]

In [148]:
for i in l:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [150]:
for i in l:
    for j in i:
        print(j)

1
2
3
4
5
6

In [151]:
for x,y in l:
    print(x)
    print(y)

1
2
3
4
5
6

In [152]:
a = (1,2,3,4,5)

In [153]:
for i in range(0,len(a)):
    print(a[i])

1
2
3
4
5

In [163]:
scores = [10,20,30,40,50,60]
names = ['a','b','c','d','e']

In [164]:
for n,s in zip(names,scores):
    print(n," ",s)

a   10
b   20
c   30
d   40
e   50

In [165]:
names = ['Sumeet', 'Shivam', "Sameer"]

In [167]:
if "Sumeet" in names:
    print("Yes")

Yes

In [170]:
if "Rrr" in names:
    print("Yes")
else:
    print("No")

No

In [175]:
numbers = [1,2,3,4,5,6]
print(min(numbers))
print(max(numbers))

1
6

In [176]:
min(names)

'Sameer'

In [177]:
d = {'a':10, 'b':20, 'c':30, 'd':40}

In [178]:
d

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [179]:
len(d)

4

In [180]:
for i in d:
    print(i)

a
b
c
d

In [181]:
d.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [182]:
d.values()

dict_values([10, 20, 30, 40])

In [183]:
d.items()

dict_items([('a', 10), ('b', 20), ('c', 30), ('d', 40)])

In [184]:
for i in d.items():
    print(i)

('a', 10)
('b', 20)
('c', 30)
('d', 40)

In [185]:
for x,y in d.items():
    print(x,y)

a 10
b 20
c 30
d 40